amqp==5.1.1
asgiref==3.3.4
async-timeout==4.0.2
beautifulsoup4==4.11.1
billiard==3.6.4.0
bs4==0.0.1
celery==5.2.7
certifi==2023.7.22
cfgv==3.3.1
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cryptography==41.0.4
Deprecated==1.2.13
distlib==0.3.6
Django==3.2.20
django-rest-knox==4.2.0
djangorestframework-simplejwt==5.2.2
django-celery-beat==2.3.0
django-cors-headers==3.7.0
django-timezone-field==5.0
djangorestframework==3.12.4
filelock==3.8.0
flower==1.2.0
identify==2.5.5
idna==3.4
Jinja2==3.1.2
knox==0.1.14
kombu==5.2.4
nodeenv==1.7.0
packaging==21.3
platformdirs==2.5.2
pre-commit==2.13.0
prompt-toolkit==3.0.31
pymongo==4.5.0
pyparsing==3.0.9
python-crontab==2.6.0
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
psycopg2-binary
redis==4.3.4
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.1
toml==0.10.2
typing-extensions==3.10.0.0
tzdata==2022.2
urllib3==1.26.17
vine==5.0.0
virtualenv==20.16.5
wcwidth==0.2.5
wrapt==1.14.1

