amqp==5.3.1
asgiref==3.8.1
async-timeout==5.0.1
beautifulsoup4==4.12.3
billiard==4.2.1
bs4==0.0.2
celery==5.4.0
certifi==2024.12.14
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cryptography==44.0.0
Deprecated==1.2.17
distlib==0.3.9
Django==5.1.5
django-rest-knox==5.0.2
djangorestframework-simplejwt==5.4.0
django-celery-beat==2.7.0
django-cors-headers==4.6.0
django-timezone-field==7.1
djangorestframework==3.15.2
filelock==3.17.0
flower==2.0.1
identify==2.6.6
idna==3.10
Jinja2==3.1.5
knox==0.1.14
kombu==5.4.2
nodeenv==1.9.1
packaging==24.2
platformdirs==4.3.6
pre-commit==4.1.0
prompt-toolkit==3.0.50
pymongo==4.10.1
pyparsing==3.2.1
python-crontab==3.2.0
python-dateutil==2.9.0
pytz==2024.2
PyYAML==6.0.2
psycopg2-binary
redis==5.2.1
requests==2.32.3
six==1.17.0
soupsieve==2.3.2.post1
sqlparse==0.5.3
toml==0.10.2
typing-extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
vine==5.1.0
virtualenv==20.29.1
wcwidth==0.2.13
wrapt==1.17.2
python-dotenv==1.0.1