name: healthcheck

on:
  push:
  schedule:
    - cron: "*/12 * * * *"

jobs:
  healthcheck:
    name: Health Check
    runs-on: ubuntu-latest

    steps:
      - name: Backend healthcheck (Render)
        run: |
          echo "Checking Backend..."
          curl -L --fail --max-time 120 https://leaderboard-pro.onrender.com || exit 1

      - name: Frontend healthcheck
        run: |
          echo "Checking Frontend..."
          curl -L --fail --max-time 60 https://leaderboard-pro.vercel.app || exit 1
